<div class="feed">
  <h3>
    <a href="{{ '/feeds/' + feed._id }}" title="{{ feed.source }}">
      {{ feed.source }}
    </a>
  </h3>
  <p>type: {{ feed.type }}</p>
  {% if (req.isAuthenticated()) %}
    {% if feed.subscribed %}
      <p><a href="#" data-feed-id="{{ '' + feed._id }}" class="unsubscribe">Subscribed</a></p>
    {% else %}
      <p><a href="#" data-feed-id="{{ '' + feed._id }}" class="subscribe">Subscribe</a></p>
    {% endif %}
  {% else %}
    <p><a href="/login">Subscribe</a></p>
  {% endif %}

  <span class="muted">{{ feed.createdAt.toISOString()|date('M d, Y  h:m a') }}</span>
</div>
