body {
  background: #fff;
  color: #333; }

.page-header {
  margin: 70px 0 20px; }

#custom-search-input {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff; }

#custom-search-input input {
  border: 0;
  box-shadow: none; }

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc; }

#custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc; }

#custom-search-input .glyphicon-search {
  font-size: 23px; }

.sub-list {
  list-style: none;
  padding: 0; }
  .sub-list li {
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding-right: 120px;
    position: relative; }
    .sub-list li:first-of-type {
      border-top: 1px solid #ccc; }
    .sub-list li a {
      position: absolute;
      padding: 10px 20px;
      background: #3A9985;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      border-radius: 4px;
      cursor: pointer; }
